.pdL2 {
  padding-left: 2vw !important;
}
.pdL1 {
  padding-left: 1vw !important;
}
.pdT1 {
  padding-top: 1vh !important;
}
.mrL1 {
  margin-left: 1vw !important;
}
.mrT1 {
  margin-top: 1vh !important;
}